<?xml version="1.0" encoding="utf-8"?>
<widget defaultlocale="en-US" id="com.spazapp.insuranceapp" version="2.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
  <name>InsurApp</name>
  <description>A blank project that uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, and the Windows Universal Platform.</description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">Mpho Mulwanndwa</author>
  <vs:template-name>BlankJS</vs:template-name>
  <vs:toolsetVersion>6.3.1</vs:toolsetVersion>
  <engine name="ios" spec="4.2.0" />

  <content src="index.html" />

  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="phonegap-version" value="cli-8.0.0" />

  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>

  <platform name="ios">
    <icon height="180" src="res/icons/ios/icon-60-3x.png" width="180" />
    <icon height="60" src="res/icons/ios/icon-60.png" width="60" />
    <icon height="120" src="res/icons/ios/icon-60-2x.png" width="120" />
    <icon height="76" src="res/icons/ios/icon-76.png" width="76" />
    <icon height="152" src="res/icons/ios/icon-76-2x.png" width="152" />
    <icon height="40" src="res/icons/ios/icon-40.png" width="40" />
    <icon height="80" src="res/icons/ios/icon-40-2x.png" width="80" />
    <icon height="57" src="res/icons/ios/icon-57.png" width="57" />
    <icon height="114" src="res/icons/ios/icon-57-2x.png" width="114" />
    <icon height="72" src="res/icons/ios/icon-72.png" width="72" />
    <icon height="144" src="res/icons/ios/icon-72-2x.png" width="144" />
    <icon height="29" src="res/icons/ios/icon-small.png" width="29" />
    <icon height="58" src="res/icons/ios/icon-small-2x.png" width="58" />
    <icon height="50" src="res/icons/ios/icon-50.png" width="50" />
    <icon height="100" src="res/icons/ios/icon-50-2x.png" width="100" />
    <icon height="1024" src="res/icons/ios/icon-1024.png" width="1024" />
  </platform>

  <platform name="ios">
    <splash height="1334" src="res/screens/ios/750-1334.png" width="750" />
    <splash height="2208" src="res/screens/ios/1242-2208.png" width="1242" />
    <splash height="2732" src="res/screens/ios/1278-2732.png" width="1242" />
    <splash height="1334" src="res/screens/ios/1334.png" width="1334" />
    <splash height="2208" src="res/screens/ios/1334.png" width="2208" />
    <splash height="2732" src="res/screens/ios/2732.png" width="2732" />
  </platform>
  
  <plugin name="cordova-plugin-camera" spec="~2.3.0">
      <variable name="CAMERA_USAGE_DESCRIPTION" value="We allow users to upload photos to their profile." />
      <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="We allow vendors to scan QR codes to validate orders." />
  </plugin>

  <plugin name="cordova-plugin-card-io" spec="~2.1.1" src="https://github.com/niconaso/cordova-plugin-card-io.git">
      <variable name="CAMERA_USAGE_DESCRIPTION" value="We allow sales agents to scan debit card." />
  </plugin>
 
</widget>